<article>
    <h2>Edit Post</h2>
    <form id="edit-form">
        <div>
            <label for="title-input">Title:</label>
            <input type="text" name="title-input" value="{{post.title}}">
        </div>
        <div>
            <label for="content-input">Blog Content:</label>
            <textarea name="content-input">{{post.contents}}</textarea>
        </div>
        <button type="submit">Save Post</button>
        <button type="button" id="dlt-btn">Delete Post</button>
    </form>
</article>
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script> 