<div>
    <label for="title-input">Title:</label>
    <input type="text" name="title-input">
</div>
<div>
    <label for="content-input">Blog Content:</label>
    <textarea name="content-input"></textarea>
</div>


<button id="sub-btn" type="submit">Create Blog Post</button>
<script src="/javascript/add-post.js"></script>